CSharp/WPF/03_Linq/10_linq/10_linq/xmllinq/handykatalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Preis">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:short">
					<xs:attribute name="vertrag" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Modell">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Gewicht"/>
				<xs:element ref="Preis" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:short"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="HerstellerNr">
		<xs:complexType>
			<xs:attribute name="nr" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="h1234"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Hersteller">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HerstellerNr"/>
				<xs:element ref="Modell" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NOKIA"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="HandyKatalog">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Hersteller"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Gewicht" type="xs:string"/>
</xs:schema>
